.parent{
    background-color: rgb(17, 117,207 );
    width: 900px;
    height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
}

h2{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#one,#two{
    padding-left: 10px;
}

h1{
    display: block;
    width: 100%;
    color: white;
    text-align: center;
}